@{
    ViewBag.Title = "Step5";
}

<div class="container-fluid" style="margin-top:10px;">
    <div class="row-fluid">
        <h4>http://docs.angularjs.org/tutorial/step_05</h4>
        <p>Retrieving data via Ajax.</p>
    </div>

    <div class="row-fluid">
        <div class="span2">
        Search: <input ng-model="query">
        </div>
        <div class="span10">
            Sort by:
            <select ng-model="orderProp">
              <option value="name">Alphabetical</option>
              <option value="age">Newest</option>
            </select>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <ul class="phones">
              <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
              </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function PhoneListCtrl($scope, $http) {

        $http.get('@Url.Content("~/Content/phones/phones.txt")').success(function (data) {
            $scope.phones = data;
        });

        /*
        $scope.phones = [
            {
                name: "Nexus S",
                snippet: "Fast just got faster with Nexus S.",
                age: 0
            },
            {
                name: "Motorola XOOM™ with Wi-Fi",
                snippet: "The Next, Next Generation tablet.",
                age: 1
            },
            {
                name: "MOTOROLA XOOM™",
                snippet: "The Next, Next Generation tablet.",
                age: 2
            }
        ];*/

        $scope.hello = "Hello world!";

        $scope.helloName = function (name) {
            return "Hello " + name;
        };

        $scope.orderProp = "name";
    }
</script>