@{
    ViewBag.Title = "ToDo";
    // test 5 should be in branch 5
    // another to branch 5
}

<div ng-controller="TodoCtrl">

    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="archive()">arhive</a> ]

    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done" />
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>

    <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText" placeholder="Add here..." />
        <button>Submit</button>
    </form>
</div>

<script>
    function TodoCtrl($scope) {
        $scope.todos = [
            { text: 'learn angular', done: true },
            { text: 'build an angular app', done: false }
        ];

        $scope.addTodo = function () {
            $scope.todos.push({ text: $scope.todoText, done: false });
            $scope.todoText = '';
        }

        $scope.remaining = function () {
            var count = 0;
            angular.forEach($scope.todos, function (todo) {
                count += todo.done ? 0 : 1;
            });

            return count;
        }

        $scope.archive = function () {
            var newTodos = [];

            angular.forEach($scope.todos, function (todo) {
                if (!todo.done)
                    newTodos.push(todo);
            });

            $scope.todos = newTodos;
        };
    }
</script>